@import 'variables';

html {
  font-family: 'Source Serif', serif;
}

body {
  max-width: $line-width;
  margin: 0 auto;
  padding: 2ch;
  line-height: 1.6;
}

main {
  max-width: $line-width;
  margin: auto;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.4;
  margin-block: 0;
}

article {
  h2, h3, h4, h5, h6 {
    margin-block: 2rem -0.5rem;
    font-style: italic;
  }
}

main {
  margin-top: 6rem;
}

a, a:visited {
  color: initial;

  text-decoration-thickness: 1px;
  text-underline-offset: 2px;
}

body > header {
  overflow: auto;

  ul {
    margin: 0;
    float: right;
    display: flex;
    grid-gap: 2ch;
  }
}

#brand {
  font-weight: bold;
  color: $accent-color;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.3);
  font-style: italic;
  float: left;
  text-decoration: none;
}

ul {
  list-style-type: square;
}

nav ul {
  list-style-type: none;
}

pre {
  font-size: 16px;
}

.highlight {
  position: relative;
}

.highlight-title {
  position: absolute;
  right: 0;
  top: 0;
  padding-inline: 1ch;
  background-color: black;
  color: white;
  font-size: small;
}

.katex {
  font-size: 110% !important;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 5px;
  border: 1px solid #ccc;
}

tr:nth-child(even) {
  background-color: #eee;
}

th {
  font-weight: bold;
  text-align: left;
}

#toc {
  display: none;

  nav > ol, nav > ul {
    padding: 0;
  }

  ol, ul {
    font-weight: bold;
    
    ol, ul {
      font-weight: initial;
      padding: 0.5ch 3ch;
      font-size: 90%;
    }

    ul {
      list-style-type: none;
    }

    ol {
      list-style-type: lower-roman;
    }
  }

  h2 {
    font-variant-caps: all-small-caps;
    letter-spacing: 0.07rem;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    margin: 0;
  }
}

@media (min-width: #{$mobile-breakpoint}) {
  #toc {
    display: block;
    padding-block-end: 2rem;
    padding-right: $gutter-width;

    background: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 1) calc(100% - 2rem), rgba(255, 255, 255, 0));

    width: $sidebar-width;
    font-size: $side-size;

    position: sticky;
    top: $body-margin;
  }
}

.blog-posts {
  list-style-type: none;
  padding: 0;
}

.blog-post {
  margin-block: 2rem;

  time {
    float: right;
  }
}

code {
  font-family: 'Source Code Pro';
  font-weight: 400;
}

pre {
  white-space: pre-wrap;
  padding: 0.5rem;

  font-size: smaller;

  border: 1px solid black;
}

time {
  font-variant: all-small-caps;
  font-variant-numeric: oldstyle-nums;
}

#front-matter nav {
  margin-block: 3.2rem;
}

#current-section {
  font-variant: all-small-caps;
  letter-spacing: 0.04rem;
  text-align: center;

  a {
    display: block;
    text-decoration: none;
    line-height: 1.2;
    margin-bottom: 1rem;
  }
}

#next-prev {
  display: flex;
  justify-content: space-between;
}

footer {
  text-align: center;
  font-variant: all-small-caps;
  font-size: smaller; 
  color: #777;
}

figcaption {
  font-size: smaller;
  text-align: center;

  p:first-child {
    display: inline;
  }
}

figure img {
  width: 100%;
}

.flex {
  display: flex;
  grid-gap: 1rem;
}

.page-tags {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 1ch;

  justify-content: center;

  margin-block: 1.6rem ;

  a {
    font-size: smaller;
    font-family: 'Source Code Pro';
    text-decoration: none;
    border: 1px solid black;
    padding-inline: 0.5ch;
    white-space: nowrap;

    &:hover {
      color: white;
      background-color: black;
    }
  }
}

$environments: conjecture definition theorem lemma proposition proposition example corollary;

article {
  counter-reset: $environments;
}

@function capitalize($string) {
  @return to-upper-case(str-slice($string, 1, 1)) + str-slice($string, 2);
}

@each $env in $environments {
  .#{$env} {
    border: 1px solid black;
    padding: 1rem;

    counter-increment: $env;
    margin-block: 1rem;

    &::before {
      font-variant-caps: all-small-caps;
      letter-spacing: 0.07rem;
      margin-left: -0.07rem;
      content: "#{capitalize($env)} " counter($env) ".";
    }
    
    p:first-child {
      display: inline;
    }

    p:last-child,
    p:last-child .katex-display {
      margin-bottom: 0;
    }
  }
}

.proof {
  display: table;
  margin-block: 1rem;
  table-layout: fixed; 
  width: 100%;

  &::before {
    content: "Proof. ";
    font-style: italic;
  }

  &::after {
    content: "\25FB";
    float: right;
  }

  > p:first-child {
    display: inline;
  }

  > p:last-child {
    &:not(:nth-child(2)) {
      display: inline;
    }
    
    &:nth-child(2) {
      display: inline-block;
      margin-block-end: 0;
    }
  }
}
