@import 'fonts';
@import 'variables';

html {
  font-family: 'Source Serif 4';
  font-size: 20px;
}

body {
  max-width: $line-width;
  margin: 0 auto;
  padding: 2ch;
  line-height: 1.6;
}

main {
  max-width: $line-width;
  margin: auto;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.4;
  font-weight: 600;
}

h2, h3, h4, h5, h6 {
  margin-block-end: -0.75rem;
}

h1 {
  margin-block: 0;
}

h2 {
  font-size: 1.3rem;
}

h3 {
  font-size: 1.1rem;
}

main {
  margin-top: 6rem;
}

a, a:visited {
  color: initial;

  text-decoration-thickness: 1px;
  text-underline-offset: 2px;
}

body > header {
  overflow: auto;

  ul {
    margin: 0;
    float: right;
    display: flex;
    grid-gap: 2ch;
  }
}

#brand {
  font-weight: 600;
  color: $accent-color;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.3);
  font-style: italic;
  float: left;
  text-decoration: none;
}

ul {
  list-style-type: "\2014    "
}

nav ul {
  list-style-type: none;
}

#toc ol, #toc ul {
  font-weight: 600;
  
  ol, ul {
    font-weight: initial;
    padding: 0.5ch 3ch;
    font-size: 90%;
  }

  ul {
    list-style-type: none;
  }

  ol {
    list-style-type: lower-roman;
  }
}


pre {
  font-size: calc(12px / .95);
}

.katex {
  font-size: 110% !important;
}

#toc {
  margin-block-end: 2rem;

  nav > ol, nav > ul {
    padding: 0;
  }

  h2 {
    font-variant-caps: all-small-caps;
    letter-spacing: 0.07rem;
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
  }
}

@media (min-width: #{$mobile-breakpoint}) {
  #toc {
    width: $sidebar-width;
    font-size: $side-size;
    margin-left: -($gutter-width + $sidebar-width);
    float: left;
    clear: left;

    position: sticky;
    top: $padding;
  }
}

.blog-posts {
  list-style-type: none;
  padding: 0;
}

.blog-post {
  margin-block: 2rem;

  time {
    float: right;
  }
}

code {
  font-family: 'IBM Plex Mono';
  font-size: 95%;
  font-weight: 400;
}

pre {
  white-space: pre-wrap;
  padding: 0.5rem;

  border: 1px solid #aaa; 
}

time {
  font-variant: all-small-caps;
  font-variant-numeric: oldstyle-nums;
}

#front-matter nav {
  margin-block: 3.2rem;
}

#current-section {
  font-variant: all-small-caps;
  letter-spacing: 0.04rem;
  text-align: center;

  a {
    display: block;
    text-decoration: none;
    line-height: 1.2;
    margin-bottom: 1rem;
  }
}

#next-prev {
  display: flex;
  justify-content: space-between;
}

footer {
  font-variant: all-small-caps;
  font-size: 75%;
  color: #777;
  text-align: center;
}

figcaption {
  font-size: smaller;
  text-align: center;

  p:first-child {
    display: inline;
  }
}

figure img {
  width: 100%;
}

.flex {
  display: flex;
  grid-gap: 1rem;
}

$environments: conjecture definition theorem lemma proposition proposition example corollary;

article {
  counter-reset: $environments;
}

@function capitalize($string) {
  @return to-upper-case(str-slice($string, 1, 1)) + str-slice($string, 2);
}

@each $env in $environments {
  .#{$env} {
    border: 1px solid #ccc;
    box-shadow: 1px 1px #444;
    padding: 1ch;

    counter-increment: $env;
    margin-block: 1rem;
    margin-inline: -1ch;

    &::before {
      font-variant-caps: all-small-caps;
      letter-spacing: 0.07rem;
      margin-left: -0.07rem;
      content: "#{capitalize($env)} " counter($env) ".";
    }
    
    p:first-child {
      display: inline;
    }
  }
}

.proof {
  display: table;
  margin-block: 1rem;
  table-layout: fixed; 
  width: 100%;

  &::before {
    content: "Proof. ";
    font-style: italic;
  }

  &::after {
    content: "\25FB";
    float: right;
  }

  > p:first-child {
    display: inline;
  }

  > p:last-child {
    &:not(:nth-child(2)) {
      display: inline;
    }
    
    &:nth-child(2) {
      display: inline-block;
      margin-block-end: 0;
    }

    > span:last-child .katex-display {
      margin: 1em 0 calc(-1.6em * 1.1);
    }
  }
}
