/*
$line-width: 600px;
$gutter-width: 60px;
$sidebar-width: 280px;
$body-margin: 32px;
*/

$line-width: 40rem;
$gutter-width: 4rem;
$sidebar-width: 15rem;
$body-margin: 2rem;

$side-size: .83rem; 


$body-width: ($body-margin + $sidebar-width + $gutter-width + $line-width + $gutter-width + $sidebar-width + $body-margin);

$mobile-breakpoint: $body-width;

$accent-color: #f23074;
$drop-color: #639;
