{{ define "main" }}
  {{ if .Data.Singular }}
  <h3 style="margin-bottom:0">Filtering for "{{ .Title }}"</h3>
  <small>
    <a href="{{ "/blog" | relURL }}">Remove filter</a>
  </small>
  {{ end }}
  {{- partial "noscript.html" . -}}
  {{- partial "frontmatter.html" . -}}
  {{- partial "content.html" . -}}

  {{ range .Pages }}
  {{ if .IsPage }}
  <div class="blog">
    <strong><a href="{{ .Permalink }}">{{ .Title }}</a></strong>
    &mdash;
    <time>{{ .Date.Format "January 2, 2006" }}</time>
  </div>
  {{ end }}
  {{ end }}
{{ end }}
