<!-- A partial to be overwritten by the user.
  Simply place a custom_head.html into
  your local /layouts/partials-directory -->
  <link href="{{ "css/base.css" | absURL }}" type="text/css" rel="preload" as="style" onload="this.onload=null;this.rel='stylesheet'" />
  <link href="{{ "css/sidenotes.css" | absURL }}" type="text/css" rel="preload" as="style" onload="this.onload=null;this.rel='stylesheet'" />
  <link href="{{ "css/latex-theorem.css" | absURL }}" type="text/css" rel="preload" as="style" onload="this.onload=null;this.rel='stylesheet'" />
  <link href="{{ "katex/katex.css" | absURL }}" type="text/css" rel="preload" as="style" onload="this.onload=null;this.rel='stylesheet'" />
  <script defer src="{{ "katex/katex.js" | absURL }}"></script>
  <script defer src="{{ "katex/contrib/auto-render.js" | absURL }}"></script>

  <script>
      document.addEventListener("DOMContentLoaded", function() {
          renderMathInElement(document.body, {
            delimiters: [
                {left: "\\(", right: "\\)", display: false},
                {left: "\\begin{align}", right: "\\begin{align}", display: true},
                {left: "\\[", right: "\\]", display: true}
            ]
          });
      });

  </script>
